<div class="h-screen w-screen flex justify-center items-center">
  <app-content-container class="p-10">
    <!-- Title and Logo -->
    <div class="flex flex-col items-center">
      <app-icon class="w-16 h-16 "></app-icon>
      <app-title-label>Reset Password</app-title-label>
    </div>

    <app-content-spacer></app-content-spacer>

    <div>
      <app-input-label>Email Address</app-input-label>
      <app-text-input class="h-10 w-[100%]"></app-text-input>
    </div>

    <app-content-spacer></app-content-spacer>

    <app-button-input class="h-10 text-white-background">Send Reset Instruction</app-button-input>

    <app-content-spacer></app-content-spacer>

    <div class="flex justify-center">
      <app-input-label class="underline">
        <a routerLink="/auth/login">Back to login</a>
      </app-input-label>
    </div>

  </app-content-container>
</div>
