<div class="h-inherit w-inherit">
  <!-- TODO find a stable way to push it to a file instead of inlining it -->
  <svg class="active" #iconSvg width="100%" height="100%" version="1.1" viewBox="0 0 86.384 146.61" xml:space="preserve"
       xmlns="http://www.w3.org/2000/svg"><path d="m0.99999 13.045 24.09-12.045 60.294 30.077v48.25l-36.205 18.032v36.134l-24.09 12.115v-60.224l36.134-18.173v-24.019z" fill="#212121" stroke="#212121" stroke-linejoin="round" stroke-width="1.5" style="paint-order: normal;" class="svg-elem-1"></path>
    <path d="m1 13.045 0.02492 24.13 36.133 18.028-36.158 18.137v60.22l24.081 12.048" fill="none" stroke="#212121"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="svg-elem-2"></path></svg>
</div>
