<!-- Icon Part -->
<h1>Icon Component - app-icon</h1>
<h2>50px</h2>
<app-icon class="w-[50px] h-[50px]"></app-icon>
<h2>100px</h2>
<app-icon class="w-[100px] h-[100px]" #appIcon></app-icon>
<button (click)="appIcon.draw()">Draw</button>
<button (click)="appIcon.erase()">Erase</button>

<!-- Loading Spinner Part -->
<h1>Loading Spinner Component - app-loading-spinner</h1>
<h2>64px</h2>
<app-loading-spinner class="h-[64px] w-[64px]"></app-loading-spinner>

<!-- Content Container Part -->
<h1>Content Container Component - app-content-container</h1>
<h2>w-250px h-150px</h2>
<app-content-container class="w-[250px] h-[150px]"></app-content-container>
<h2>w-550px h-150px</h2>
<app-content-container class="w-[550px] h-[150px]"></app-content-container>

<!-- Text Input Part -->
<h1>Text Input Component - app-text-input</h1>
<h2>w-96 h-12</h2>
<app-text-input class="w-96 h-12" placeholder="Example placerholder..."></app-text-input>

<!-- Button Input Part -->
<h1>Button Input Component - app-button-input</h1>
<h2>w-96 h-12</h2>
<app-button-input class="w-96 h-12">Test Button</app-button-input>
