<div class="w-screen h-screen flex flex-col justify-center items-center">
  <app-content-container class="p-5">
    <!-- Logo and Title -->
    <div class="flex flex-col items-center">
      <app-icon class="w-16 h-16 "></app-icon>
      <app-title-label>
        <div class="flex flex-col items-center">
          <span>Finish</span>
          <span>Registration</span>
        </div>
      </app-title-label>

      <app-content-spacer></app-content-spacer>

      <!-- Text Fields -->
      <div>
        <app-input-label>First Name</app-input-label>
        <app-text-input [(value)]="this.registerUserData.firstName" class="h-10 w-72"></app-text-input>
        <app-input-label>Last Name</app-input-label>
        <app-text-input [(value)]="this.registerUserData.lastName" class="h-10 w-72"></app-text-input>
      </div>

      <app-content-spacer></app-content-spacer>

      <!-- Finish Registration Button -->
      <app-button-input (click)="this.finishRegistration()" class="h-10 w-72 text-white-background">Finish
        Registration
      </app-button-input>
    </div>
  </app-content-container>

  <div *ngIf="this.registerError">

    <app-content-spacer></app-content-spacer>

    <div class="bg-red-500 p-3 rounded-xl shadow-2xl horizontal-shake">
      {{ this.registerError.message }}
    </div>
  </div>
</div>
