<div class="w-screen h-screen flex flex-col justify-center items-center"
     [ngClass]="{'bg-white-background': this.responsiveService.isMobile()}">
  <app-content-container class="p-5" [ngClass]="{'invisible' : this.responsiveService.isMobile()}">
    <div class="visible">
      <app-loading-spinner class="w-64 h-64"></app-loading-spinner>
      <div class="flex flex-col items-center font-nunito text-3xl font-bold">
        <span>Loading</span>
        <span>Perfectify</span>
      </div>
    </div>
  </app-content-container>
</div>
